<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="../css/Bazar.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <ul class="menu">
      <li><a href="#">Menu</a></li>
      <li><a href="#">Histórias Para Contar</a></li>
      <li><a href="#">Eventos</a></li>
      <li><a href="#">Bazar</a></li>
      <li><a href="#" class="special-link">Faça Parte</a></li>
    </ul>
    <div class="auth-links">
      <a href="#">Login</a>
      <a href="#" class="register-link">Registre-se</a>
    </div>
  </nav>
</header>

<main>
    <section class="hero">
        <div class="hero-content">
            <img src="../imagens/Bazar/Rectangle 50.svg" alt="Bazar" class="Quadrado_hero">
            <div class="texto-dentro-quadro">
                <p class="hero-titulo">%50 OFF</p>
                <p class="hero-titulo2">Bazar<br>Solidario</p>
                <p class="hero-subtitle">Bem-vindo ao Bazar da Solidariedade! Encontre tesouros a preços especiais e contribua para causas importantes</p>
                <p class="hero-subtitle2">Sua compra faz a diferença!</p>
            </div>
        </div>
    </section>
    <section class="loja">
        <div class="loja-content">
            <h2 class="section-title">PRODUTOS POPULARES</h2>
            <p class="section-subtitle">Variedades de produtos selecionados novos e semi-novos</p>
        </div>
    </section>
</main>

</html>