<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="../css/eventos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="#">Menu</a></li>
        <li><a href="#">Histórias</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Bazar</a></li>
        <li><a href="#" class="special-link">Faça Parte</a></li>
      </ul>
      <div class="auth-links">
        <a href="#">Login</a>
        <a href="#" class="register-link">Registre-se</a>
      </div>
    </nav>
  </header>
  <main>
    <section class="hero">
      <div class="card">
        <h1>Free Beach Party</h1>
        <p class="save_date">Save the Date</p>
        <p class="save_date_data">20/10, 11h as 18h</p>
      </div>
      <div class="card2">
        <h1>BEACH TÊNIS BANDAS/SHOW PERFORMANCE E MUITO MAIS</h1>
        <p>FAUSTO CARVALHO</p>
        <button>INGRESSOS</button>
      </div>
    </section>
  </main>
  <main2>
    <div class="div-eventos">
      <h1>EVENTOS</h1>
      <section class="lst-eventos">
        <img class="bingo1" src="../imagens/eventos_page/event-bingo-1.svg">
        <img class="bingo2" src="../imagens/eventos_page/event-bingo-2.svg">
        <div class="eventos">
        </div>
      </section>
    </div>
      
  </main2>
  <main3>
    <section class="sobre-eventos">
      <div class="campaign-description">
        <h1>SOBRE</h1>
        <p>Todo o lucro dos eventos é revertido para ações sociais da Associação Mães Solidárias em <span
            class="sobre-preto">causas reconhecidas</span><span class="sobre-vermelho">causas reconhecidas</span></p>
        <div class="lat-description">
          <img src="../imagens/eventos_page/group9.png" alt="grupo9">
          <h1><span class="sempre">SEMPRE</span><span class="buscando-fazer">BUSCANDO FAZER A</span><span class="diferenca">DIFERENÇA</span></h1>
        </div>
      </div>
    </section>
  </main3>

</body>

</html>