a {
  text-decoration: none; /* Isso irá aplicar-se a todos os links no documento */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Lekton', sans-serif;
  }

  nav {
    width: 100%;
    height: 8vh;
    background-color: #b02a37;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    /* fundo vermelho */
    background: linear-gradient(180deg, rgba(99, 4, 4, 0.7) 0%, rgba(121, 34, 34, 0.7) 100%);
    box-shadow: 0px 4px 34.6px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  .menu {
    list-style: none;
    display: flex; /* Estabelece um contêiner flexível */
    justify-content: center; 
    align-items: center; 
    width: 100%; /* Ocupa a largura total da 'nav' */
    font-size: 2.9vh;
    gap : 1.7vw;
    }

    .menu li a {
        text-decoration: none;
        color: #ffffff;
      }
      
      .special-link {
        border: 1px solid #ffffff;
        padding: 0.2vh 0.3vw;
      }
      
    .auth-links {
      position: absolute; 
      right: 1vw; 
      top: 1vh; 
      display: flex; 
      align-items: center; 
    }
    
    
    .auth-links a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.7vh; 
      margin-left: 1vh; 
    }



.hero {
  padding-top: 20vh;
  padding-left: 20vh;
  height: 100vh;
  background: linear-gradient(180deg, rgba(99, 4, 4, 0.7) 0%, rgba(121, 34, 34, 0.7) 100%), url('../images/coracao.png') center/cover no-repeat;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  margin-right: 2vh;
  /* Adiciona margem à direita para separar os cartões */
  width: 35%;
  max-width: 200vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 2vh;
}

.card h1 {
  color: #8c1b26;
}

.doa {
  color: #F8ABAB;
  font-size: 1.7rem;
}

.card button {
  padding: 10px 20px;
  background-color: #8c1b26;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 3rem;
}

.card button:hover {
  background-color: #ffffff;
  color: #8c1b26;
}

.como-ajudar {
  background-color: #FFFFC7;
  height: 200vh;
  position: relative;
}

.titulo {
  text-align: center;
  font-size: 3rem;
  position: relative;
  top: 5rem;
}

.pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voluntario-bazar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 15vw;
  margin-right: 15vw;
  top: 10rem;
  position: relative;
}

.div-voluntario {
  text-align: center;
  max-width: 40%;
  justify-content: center;
}

.div-voluntario h1 {
  font-size: 3rem;
}

.div-voluntario p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.numero {
  font-size: 1.5rem;
  color: #8c1b26;
}

.voluntario {
  color: #8c1b26;
}

.btn-aplique {
  padding: 10px 20px;
  background-color: #8c1b26;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-aplique:hover {
  background-color: #ffffff;
  color: #8c1b26;
}

.div-bazar {
  text-align: center;
}

.div-bazar h1 {
  font-size: 3rem;
}

.div-bazar p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.acoes {
  color: #8c1b26;
}

.bazar {
  color: #8c1b26;
}

.div-bazar a {
  padding: 10px 20px;
  background-color: #8c1b26;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 3vh;
}

.div-bazar a:hover {
  background-color: #ffffff;
  color: #8c1b26;
}

.patrocinador-doe {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 15vw;
  margin-right: 15vw;
  top: 10rem;
  position: relative;
}

.patrocine {
  text-align: center;
  max-width: 40%;
  justify-content: center;
}

.patrocine h1 {
  font-size: 3rem;
}

.patrocine p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.patrocinador,
.patrocin,
.ajuda {
  color: #8c1b26;
}

.btn-apoie {
  padding: 10px 20px;
  background-color: #8c1b26;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-apoie:hover {
  background-color: #ffffff;
  color: #8c1b26;
}

.patrocine img {
  margin-top: 2vh;
  width: 30vw;
}

.imgdoe {
  margin-left: 2vw;
  vertical-align: middle;
}

.svg {
  position: relative; 
}

.footer {
  background-color: #822323;    
  color: white;
  text-align: center;
  padding: 3vh 0; 
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.footer-section {
  margin-top: 5vh; 
  margin-bottom: 3vh;
}

.footer-section h4 {
  margin-bottom: 5vh; 
  font-size: 3vh;
}

.footer-section p {
  margin-bottom: 2vh; 

}

.footer-bottom {
  border-top: 0.2vh solid #ffffff; 
  padding-top: 1vh; 
  margin-top: 1vh; 
}

.footer-content {
  /* Restante das suas propriedades... */
  position: relative; /* Para posicionar a imagem de linha em relação a este contêiner */
}

.footer-line-image {
  width: 100%; /* Isso fará com que a imagem ocupe a largura total do contêiner */
  height: auto; /* Isso garante que a altura da imagem se ajuste para manter as proporções */
  margin-top: 2vh; /* Adiciona espaço acima da imagem se necessário */
}

.como-ajudar-butao {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 10%;
  justify-content: center;
  background-color: #893326;
  color: #FFFFC7;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  line-height: 1rem;
  text-align: center;
  height: 4rem;
}