a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Lekton', sans-serif;
}

nav {
  width: 100%;
  height: 8vh;
  background-color: #b02a37;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  background: linear-gradient(180deg, rgba(99, 4, 4, 0.7) 0%, rgba(121, 34, 34, 0.7) 100%);
  box-shadow: 0px 4px 34.6px 21px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.9vh;
  gap: 1.7vw;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.special-link {
  border: 1px solid #ffffff;
  padding: 0.2vh 0.3vw;
}

.auth-links {
  position: absolute;
  right: 1vw;
  top: 1vh;
  display: flex;
  align-items: center;
}


.auth-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7vh;
  margin-left: 1vh;
}


.hero {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: url('../images/Plano_de_fundo.jpeg') center/cover no-repeat;

}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-content {
  flex-basis: 60%;
  padding-top: 6vh;
  padding-left: 5vw;
}

.Anuncios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 3vw;

}

.Anuncios h2 {
  margin-bottom: 1vh;
}


.hero h2 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding-left: 0rem;
}

.hero h1 {
  color: #ffffff;
  margin-bottom: 5rem;
  font-size: 4.9rem;
  font-style: normal;
  font-weight: normal;
  margin-top: -200px;

}

.cta-button {
  font-size: 1.5rem;
  display: inline-block;
  background: #822323;
  color: rgb(255, 255, 255);
  padding: 1.7rem 3.9rem;
  transition: background-color 0.3s ease;
  margin-left: 40px;

}

.cta-button:hover {
  background-color: #94202f;
}


.active-causes {
  margin-top: 1vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #ffffff;
  position: relative;
}



.active-causes .section-title {
  color: #893326;
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.campaign-section {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.campaign-title {
  color: #68241a;
  font-size: 50px;
  margin-bottom: 1rem;
}

.campaign-description {
  color: #666;
  font-size: 35px;
  margin-bottom: 1rem;
}

.campaign-stats {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.campaign-stats .goal,
.campaign-stats .collected {
  text-align: left;
}

.image-container {
  width: 40%;
  position: relative;
}

.image-container img {
  width: 90%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.campaign-content {
  width: 60%;
  padding-left: 20px;
}

.goal {
  position: relative;
}

.goal-rectangle {
  position: relative;
  width: 187px;
  height: 79px;
  background: #FAD7D7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.goal-text,
.collected-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
}

.goal h4,
.collected h5 {
  margin: 0.5vw;
  font-size: 20px;
}

.progress-bar-container {
  width: 95%;
  background-color: #ddd;
  border-radius: 0px;
  position: relative;
}

.progress-bar {
  height: 20px;
  background-color: #b02a37;
  border-radius: 5px;
  position: relative;
}

.percentage-circle {
  width: 90px;
  height: 90px;
  background-color: #b02a37;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -17.5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  z-index: 1;
}

.container {
  display: flex;
  margin-top: 10vw;
  margin-bottom: 5vw;
  margin-left: 10vw;
}


.about-us-image-2 img {
  width: 65%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2vw;
  margin-left: 4vw;
}

.about-us-text {
  width: 35%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5vw;
}

.about-us-text h2 {
  align-self: first baseline;
  color: #893326;
  font-size: 5rem;
  margin-bottom: 1em;

}

.about-us-text p {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1em;
}

.about-us-text a {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1em;
  text-decoration: none;
}

.polygon {
  position: absolute;
  width: 272.87px;
  height: 273.97px;
  background: #893326;
  opacity: 0.8;
  transform: skewX(20deg) skewY(10deg) rotate(30deg);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: -1;
}


.about-us-stats {
  background-color: #fdbbbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  white-space: nowrap;
}

.stat-item {
  text-align: center;
}

.stat-number {
  display: block;
  font-size: 4em;
  color: #ffffff;
  font-style: bold;
}

.stat-description {
  font-size: 2.5em;
  color: #ffffff;
}


.stat-item i {
  font-size: 2em;
  margin-bottom: 10px;
}


.stat-item img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.charity-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.Titulo {
  width: 100%;
  font-size: 2vh;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 3vh;
  color: rgba(99, 4, 4, 0.7)
}

.Titulo p {
  margin-top: 3vh;
  font-size: 5vh;
  color: #000000
}


.event {
  position: relative;
  margin: 1vh;
  overflow: hidden;
  border-radius: 8px;
}

.event img {
  width: 100%;
  display: block;
}

.event-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  padding: 1vw;
}

button {
  background: url("../svg/botao.svg");
  color: black;
  border: none;
  width: 12vw;
  height: 3.5vh;
  font-size: 2vh;
  cursor: pointer;
  font-weight: bold; /* Subtract the total horizontal padding from 100% */
  margin-top: 20vh;
  
}

.botao_ac {
  margin-left: 6vw;
}

.event h3 {
  color: black;
  text-align: left;
  margin-right: 10vw;
  margin-bottom: 4vh;
  font-size: 3vh;
}

.event p{
  color: #656262;
  font-weight: bold;
  font-size: 2.1vh;
}

.footer {
  background-color: #822323;
  color: white;
  text-align: center;
  padding: 3vh 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.footer-section {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.footer-section h4 {
  margin-bottom: 5vh;
  font-size: 3vh;
}

.footer-section p {
  margin-bottom: 2vh;

}

.footer-bottom {
  border-top: 0.2vh solid #ffffff;
  padding-top: 1vh;
  margin-top: 1vh;
}

.footer-content {
  position: relative;
}

.footer-line-image {
  width: 100%;
  height: auto;
  margin-top: 2vh;
}