a {
  text-decoration: none; /* Isso irá aplicar-se a todos os links no documento */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Lekton', sans-serif;
  }

  nav {
    width: 100%;
    height: 110px;
    background-color: #b02a37;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    /* fundo vermelho */
    background: linear-gradient(180deg, rgba(99, 4, 4, 0.7) 0%, rgba(121, 34, 34, 0.7) 100%);
    box-shadow: 0px 4px 34.6px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
  }
  .menu {
  list-style: none;
  display: flex; /* Estabelece um contêiner flexível */
  justify-content: center; 
  align-items: center; 
  width: 100%; /* Ocupa a largura total da 'nav' */
  font-size: 2rem;
  gap : 3rem;
  }

  
  .menu li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .special-link {
    border: 1px solid #ffffff;
    padding: 0.2rem 0.3rem;
  }
  
.auth-links {
  position: absolute; 
  right: 1rem; 
  top: 1rem; 
  display: flex; 
  align-items: center; 
}


.auth-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem; 
  margin-left: 1rem; 
}

  
.hero {
  height: calc(100vh);
  display: flex;
  flex-direction: column; /* Isso garante que os itens sejam empilhados verticalmente */
  justify-content: center; /* Isso centraliza os itens verticalmente */
  align-items: flex-start; /* Isso alinha os itens para o início do eixo horizontal */
  text-align: left; /* Isso garante que o texto dentro do .hero seja alinhado à esquerda */
  background: url('../imagens/Main_page/Plano_de_fundo.jpeg') center/cover no-repeat;
  padding-left: 21vw;
}

  .hero h2{
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding-left: 0rem;
  }
  
  .hero h1 {
    color: #ffffff;
    margin-bottom: 5rem;
    font-size: 4.9rem;
    font-style: normal;
    font-weight: normal;
    margin-top: -200px;

  }

  .cta-button {
    font-size: 1.5rem;
    display: inline-block;
    background: #822323;
    color: rgb(255, 255, 255);
    padding: 1.7rem 3.9rem;
    transition: background-color 0.3s ease;
    margin-left: 40px;

  }
  
  .cta-button:hover {
    background-color: #94202f;
  }


.active-causes {
  margin-top: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #fff; /* Ou a cor de fundo desejada */
  position: relative; /* Isso é necessário para que o retângulo de fundo seja posicionado corretamente */
}

.background-rectangle {
  position: absolute;
  background: #646441;
 /* Certifique-se de que o retângulo fique atrás do conteúdo da seção */
}

.active-causes .section-title {
  color: #893326; /* Ou a cor de texto desejada */
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.campaign-section {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.campaign-title {
  color: #68241a; /* Ou a cor de texto desejada */
  font-size: 50px;
  margin-bottom: 1rem;
}

.campaign-description {
  color: #666; /* Ou a cor de texto desejada */
  font-size: 35px;
  margin-bottom: 1rem;
}

.campaign-stats {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.campaign-stats .goal, .campaign-stats .collected {
  text-align: left;
}

.image-container {
  width: 40%; /* Ajuste a largura conforme necessário */
  position: relative;
  /* Remova o estilo inline no HTML e coloque as propriedades de estilo aqui */
}

.image-container img {
  width: 90%; /* Isso fará a imagem expandir para preencher o contêiner */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25); /* Ajuste conforme necessário */
}
.campaign-content {
  width: 60%; /* Ajuste a largura conforme necessário */
  padding-left: 20px; /* Ajuste o espaçamento conforme necessário */
}

.goal {
  position: relative; /* Estabelece a base para o posicionamento absoluto dos filhos */
}

.goal-rectangle {
  /* Outras propriedades... */
  position: relative; /* Mudado de absolute para relative */
  width: 187px; /* Tamanho do retângulo */
  height: 79px; /* Tamanho do retângulo */
  background: #FAD7D7;
  display: inline-flex; /* Para centralizar o texto verticalmente */
  align-items: center; /* Centraliza verticalmente o texto dentro do retângulo */
  justify-content: center; /* Centraliza horizontalmente o texto dentro do retângulo */
}

.goal-text, .collected-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
}

.goal h4, .collected h5 {
  margin: 0.5vw;
  font-size: 20px;
}

.progress-bar-container {
  width: 95%; /* Largura do contêiner da barra de progresso */
  background-color: #ddd; /* Cor de fundo da barra de progresso */
  border-radius: 0px; /* Bordas arredondadas */
  position: relative; /* Para posicionamento absoluto dos elementos filhos */
}

.progress-bar {
  height: 20px; /* Altura da barra de progresso */
  background-color: #b02a37; /* Cor da barra de progresso */
  border-radius: 5px; /* Mantenha as bordas arredondadas na barra também */
  position: relative; /* Garantir que o texto não sobreponha */
}

.percentage-circle {
  width: 100px; /* Tamanho do círculo */
  height: 100px; /* Tamanho do círculo */
  background-color: #b02a37; /* Cor de fundo do círculo */
  border-radius: 50%; /* Faz com que o div se torne um círculo */
  color: white; /* Cor do texto dentro do círculo */
  display: flex; /* Permite centralizar o conteúdo com facilidade */
  align-items: center; /* Centraliza o conteúdo no eixo y */
  justify-content: center; /* Centraliza o conteúdo no eixo x */
  position: absolute; /* Posiciona em relação ao contêiner da barra */
  right: -17.5px; /* Metade do tamanho do círculo para alinhar ao centro da borda */
  top: 50%; /* Posiciona na metade da altura da barra de progresso */
  transform: translateY(-50%); /* Desloca para cima pela metade do tamanho do círculo para alinhamento vertical */
  font-size: 40px; /* Tamanho da fonte do texto dentro do círculo */
  z-index: 1; /* Garante que o círculo fique acima da barra de progresso */
}




  
  