
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Lekton', sans-serif;
  }

  nav {
    width: 100%;
    height: 80px;
    background-color: #b02a37;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    /* fundo vermelho */
    background: linear-gradient(180deg, rgba(99, 4, 4, 0.7) 0%, rgba(121, 34, 34, 0.7) 100%);
    box-shadow: 0px 4px 34.6px 21px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
  }
  .menu {
  list-style: none;
  display: flex; /* Estabelece um contêiner flexível */
  justify-content: center; /* Centraliza os itens da lista horizontalmente */
  align-items: center; /*mar Centraliza os itens da lista verticalmente */
  width: 100%; /* Ocupa a largura total da 'nav' */
  font-size: 1.4rem;
  
}

  .menu {
    background: rgba(255, 248, 248, 0); /* Fundo totalmente transparente */
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .menu li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .special-link {
    border: 1px solid #ffffff;
    padding: 0.2rem 0.3rem;
  }
  
.auth-links {
  position: absolute; 
  right: 1rem; 
  top: 1rem; 
  display: flex; 
  align-items: center; 
}


.auth-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem; 
  margin-left: 1rem; 
}

  
  
  .hero {
    
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../imagens/Main_page/Plano_de_fundo.jpeg') center/cover no-repeat;
  }
  
  .hero-content {
    max-width: 50%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
  }
  
  .hero h1 {
    color: #b02a37;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .cta-button {
    display: inline-block;
    text-decoration: none;
    background-color: #b02a37;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #d0344a;
  }

  

  
  