<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bazar.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <ul class="menu">
      <li><a href="/">Menu</a></li>
      <li><a href="/historias">Histórias Para Contar</a></li>
      <li><a href="/evento">Eventos</a></li>
      <li><a href="/bazar">Bazar</a></li>
      <li><a href="/facaparte" class="special-link">Faça Parte</a></li>
    </ul>
    <div class="auth-links">
      <a href="#">Login</a>
      <a href="#" class="register-link">Registre-se</a>
    </div>
  </nav>
</header>

<main>
    <section class="hero">
        <div class="hero-content">
            <img src="{{ url_for('static', filename='svg/Rectangle 50.svg') }}" alt="Bazar" class="Quadrado_hero">
            <div class="texto-dentro-quadro">
                <p class="hero-titulo">%50 OFF</p>
                <p class="hero-titulo2">Bazar<br>Solidario</p>
                <p class="hero-subtitle">Bem-vindo ao Bazar da Solidariedade! Encontre tesouros a preços especiais e contribua para causas importantes</p>
                <p class="hero-subtitle2">Sua compra faz a diferença!</p>
            </div>
        </div>
    </section>
    <section class="loja">
        <div class="loja-content">
            <h2 class="section-title">PRODUTOS POPULARES</h2>
            <p class="section-subtitle">Variedades de produtos selecionados novos e semi-novos</p>
            <img src="{{ url_for('static', filename='svg/Line 9.svg') }}" alt="linha" class="linha">
        </div>
            <section class="Produtos">
              <div class="produto">
                <div class="componente-container">
                  <img src="{{ url_for('static', filename='svg/Group 13.svg') }}" alt="componente" class="componente">
                  <img src="{{ url_for('static', filename='svg/Group 17.svg') }}" alt="Iconi_carrinho" class="iconi-carrinho">
                  <img src="{{ url_for('static', filename='svg/Group 18.svg') }}" alt="Coracao" class="coracao">
                </div>
              </div>
              <div class="produto">
                <div class="componente-container">
                  <img src="{{ url_for('static', filename='svg/Group 14.svg') }}" alt="componente" class="componente">
                  <img src="{{ url_for('static', filename='svg/Group 17.svg') }}" alt="Iconi_carrinho" class="iconi-carrinho">
                  <img src="{{ url_for('static', filename='svg/Group 18.svg') }}" alt="Coracao" class="coracao">
                </div>
              </div>
              <div class="produto">
                <div class="componente-container">
                  <img src="{{ url_for('static', filename='svg/Group 16.svg') }}" alt="componente" class="componente">
                  <img src="{{ url_for('static', filename='svg/Group 17.svg') }}" alt="Iconi_carrinho" class="iconi-carrinho">
                  <img src="{{ url_for('static', filename='svg/Group 18.svg') }}" alt="Coracao" class="coracao">
                </div>
              </div>
              
              <!-- Repita a estrutura para outros produtos -->
            </section>
            <footer class="footer">
              <div class="footer-content">
                <div class="footer-section">
                  <h4>Redes Sociais</h4>
                  <p>maessolidarias</p>
                  <p>maessolidarias</p>
                </div>
                <div class="footer-section">
                  <h4>Endereço</h4>
                  <p>rua blabladás, 1251</p>
                  <p>São Paulo, SP</p>
                </div>
                <div class="footer-section">
                  <h4>Contato</h4>
                  <p>55+119239503</p>
                  <p>maessolidarios@gmail.com</p>
                </div>
                <img src="{{ url_for('static', filename='svg/Chart 9.svg') }}" alt="linha decorativa" class="footer-line-image">
              </div>
            </footer>
          
</main>
</body>
</html>