<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/facaparte.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Menu</a></li>
        <li><a href="/historias">Histórias</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/bazar">Bazar</a></li>
        <li><a href="#" class="special-link">Faça Parte</a></li>
      </ul>
      <div class="auth-links">
        <a href="/login">Login</a>
        <a href="/register" class="register-link">Registre-se</a>
      </div>
    </nav>
  </header>
  <main>
    <section class="hero">
      <div class="card">
        <h1>Amor não se guarda, se <span class="doa">doa</span></h1>
        <button>COMO AJUDAR?</button>
      </div>
    </section>
  </main>
  <main2>
    <section class="como-ajudar">
      <h1 class="titulo">FAÇA PARTE DESSA JORNADA</h1>
      <div class="pai">
        <div class="voluntario-bazar">
          <div class="div-voluntario">
            <h1>SEJA UM <span class="voluntario">VOLUNTARIO</span></h1>
            <p>Hoje, contamos com mais de <span class="numero">400 </span>voluntarios para ajudar na nossa jornada</p>
            <button class="btn-aplique">APLIQUE</button>
          </div>
          <div class="div-bazar">
            <h1>CONTRIBUA NO NOSSO <span class="bazar">BAZAR</span></h1>
            <p>Toda venda de todos os produtos é convertida em <span class="acoes">ações sociais</span></p>
            <button class="btn-bazar">BAZAR</button>
          </div>
        </div>
        <div class="patrocinador-doe">
          <div class="patrocine">
            <h1>SEJA UM <span class="patrocinador">PATROCINADOR</span></h1>
            <p>Contamos hoje com diversos <span class="patrocin">patrocinadores</span> que possibilitam a realização de varias ações, qualquer tipo de <span class="ajuda">ajuda</span> é bem vinda!</p>
            <button class="btn-apoie">APOIE</button>
            <img src="{{ url_for('static', filename='images/patrocinios.png') }}" alt="patrocinios">
          </div>
          <div class="doe">
            <section class="svg">
              <img class="imgdoe" src="{{ url_for('static', filename='svg/imgdoe.svg') }}">
              <div class="svg-content">
                <h1>DOE</h1>
                <p class="p1">R$5</p>
                <p class="p2">R$20</p>
                <p class="p3">R$50</p>
                <p class="p4">INSIRA UM VALOR</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </main2>