<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Histórias</title>
<link rel="stylesheet" href="{{ url_for('static', filename='historias.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <ul class="menu">
      <li><a href="#">Menu</a></li>
      <li><a href="#">Histórias Para Contar</a></li>
      <li><a href="#">Eventos</a></li>
      <li><a href="#">Bazar</a></li>
      <li><a href="#" class="special-link">Faça Parte</a></li>
    </ul>
    <div class="auth-links">
      <a href="#">Login</a>
      <a href="#" class="register-link">Registre-se</a>
    </div>
  </nav>
</header>

<main>
  <section class="hero">
    <div class="hero-content">
      <h1>NOSSO <br>
        IMPACTO<br></h1>
      <h2 class="hero-subtitle">"A magia da multiplicação"</h2>
    </div>
  </section>
</main>
<main2>
    
    <section class='campanha-crianca'>
        <img src="../imagens/Historias/Escorregador.svg" alt="escorregador" class="escorregador">
        <section class="campanha-c-text">
            <div class="text-content">
                <h2 class="section-title2"></h2>
                <p class="campaign-description_1">Proporcionamos nesse dia a renovação de <span class="destaque">mais de 50 </span>brinquedoteas<br> através de brinquedos doados<br>Inauguração do Painel da Paula Moura no Instituto André Franco Vive!</p>
                <p class="campaign-description_2"></p>
            </div>
            <img src="../imagens/Historias/Component 2.svg" alt="Foto de doacao" class="Foto">
        </section>
        <img src="../imagens/Historias/criancas.svg" alt="criança" class="crianca">
    </section>

    <section class='campanha-coelho'>
      <section class="campanha-coelho-text">
          <p class="campaign-description_1">
              Proporcionamos nesse dia a renovação de <span class="destaque">mais de 50 </span>brinquedoteas<br>
              através de brinquedos doados<br>
              Inauguração do Painel da Paula Moura no Instituto André Franco Vive!
              <a href="#" class="cta-button2">CONTRIBUA</a>
          </p>
          <img src="../imagens/Historias/Component 4.svg" alt="Foto do coelho" class="Foto_coelho">
      </section>
  </section>
  
        
    </section>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h4>Redes Sociais</h4>
          <p>maessolidarias</p>
          <p>maessolidarias</p>
        </div>
        <div class="footer-section">
          <h4>Endereço</h4>
          <p>rua blabladás, 1251</p>
          <p>São Paulo, SP</p>
        </div>
        <div class="footer-section">
          <h4>Contato</h4>
          <p>55+119239503</p>
          <p>maessolidarios@gmail.com</p>
        </div>
        <img src="../imagens/Main_page/Line 8.svg" alt="linha decorativa" class="footer-line-image">
      </div>
    </footer>
</body>
</html>