<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
          <ul class="menu">
            <li><a href="#">Menu</a></li>
            <li><a href="#">Histórias Para Contar</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Bazar</a></li>
          </ul>
        </nav>
      </header>

    <main class="login">
        <div class="holder">
            <!-- Texto -->
            <div class="square1">
                <h1 class="titulo_login">Faca parte do time <Br> mâes solidárias</h1><br>
                <spam class="text_login">Compartilhe o amor, doe esperança. <br> Sua contribuição importa!</spam><br>
                <spam>______________________________________</spam><br>
                <div class="links">
                <a class="link_square" href="#">Esqueci minha senha</a><br><br>
                <a class="link_square" href="#">Entrar em contato</a>
                </div>
            </div>
            <!-- Botões -->
            <div class="square2">
                <div class="title">
                    FAZER LOGIN
                </div>
                <form action="/submit_login" method="POST" class="form-login">
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" class="input" required><br>
                    <br>
                    <br>
                    <br>
                    <label for="password">Senha:</label><br>
                    <input type="password" name="password" class="input" required><br>

                    <div class="botoes">
                        <input type="submit" value="Continuar" style="margin-right: 2.5%" class="botaoV">
                        <a href="#" class="botao" style="margin-left: 2.5%;">Criar Conta</a>
                    </div>
                </form>
            </div>



        </div>
    </main>
</body>
</html>