<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <ul class="menu">
      <li><a href="/">Menu</a></li>
      <li><a href="/historias">Histórias Para Contar</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="/bazar">Bazar</a></li>
      <li><a href="/facaparte" class="special-link">Faça Parte</a></li>
    </ul>
    <div class="auth-links">
      <a href="/login">Login</a>
      <a href="/register" class="register-link">Registre-se</a>
    </div>
  </nav>
</header>

<main>
  <main>
    <section class="hero">
      <div class="hero-wrapper">
        <div class="hero-content">
          <h1>"Faça o bem <br> sem olhar a quem"<br></h1>
          <h2 class="hero-subtitle">Mães do Colégio Santa Cruz para realização <br>de ações solidárias.</h2>
          <a href="/historias" class="cta-button">Nossa História</a>
        </div>
        <section class="Anuncios"> 
          <h2>PROXIMOS EVENTOS</h2>
          <img src="{{ url_for('static', filename='svg/Banner.svg') }}" alt="Banner De eventos">
        </section>
      </div>
    </section>
  
</main>
<main2>
<!-- Nova seção abaixo da seção Herói -->
<section class="active-causes">
  <div class="campaign-section">
    <div class="image-container">
      <img src="{{ url_for('static', filename='images/Fundo_Causas_ativas.jpeg') }}" alt="Mães e voluntários em ação">
      <div class="progress-bar-container">
        <div class="progress-bar" id="progress-bar" style="width: 80%;"></div>
        <div class="percentage-circle">80%</div>
      </div>
    </div>
    <div class="campaign-content">
      <h2 class="section-title">Causas ativas</h2>
      <h3 class="campaign-title">Campanha de inverno</h3>
      <p class="campaign-description">Em meio ao frio rigoroso do inverno, a solidariedade é o cobertor que aquece os corações necessitados. Neste ano, convidamos você a fazer parte dessa corrente de calor humano, contribuindo com agasalhos e cobertores para aqueles que mais precisam.</p>
      <div class="campaign-stats">
        <div class="goal">
          <h4>Meta:</h4>
          <div class="goal-rectangle">
            <span class="goal-text">1040 AGASALHOS</span>
          </div>
        </div>
        <div class="collected">
          <h5>Arrecadado:</h5>
          <div class="goal-rectangle">
            <span class="collected-text">846 AGASALHOS</span>
          </div>
          <a href="#" class="cta-button">AJUDE</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-retangulo"></div>
</section>
</main2>
<!-- Nova seção para incluir o conteúdo da imagem -->
<section class="about-us">
  <div class="container">
    <div class="about-us-text">
      <h2 class="section-title">Quem Somos</h2>
      <p>As Mães Solidárias, originadas em 2016 no colégio Santa Cruz. Expandimos nossas atividades para além do colégio.</p>
      <div class="polygon"></div>
      <p>Promovendo eventos e colaborando com outras instituições parceiras, reforçando nosso compromisso com causas sociais.</p>
      <div class="polygon"></div>
      <a href="#" class="cta-button">Saiba Mais</a>
    </div>
    <div class="about-us-image-2">
      <img src="{{ url_for('static', filename='svg/QuemSomos.svg') }}" alt="Mães e voluntários em ação">
    </div>
  </div>
  <div class="about-us-stats">
    <div class="stat-item">
      <span class="stat-number">410</span>
      <span class="stat-description">Voluntários</span>
    </div>
    <div class="stat-item">
      <span class="stat-number">20430+</span>
      <span class="stat-description">Pessoas Ajudadas</span>
    </div>
    <div class="stat-item">
      <span class="stat-number">31</span>
      <span class="stat-description">Causas Realizadas</span>
    </div>
  </div>
</section>
<section class="charity-section">

  <header class="Titulo">
    <h2>Nosso Trabalho</h2>
    <p>Formas de arrecadação</p>
  </header>
  <div class="event">
    <img src="{{ url_for('static', filename='svg/Chart 6.svg') }}" alt="Bazar Beneficente">
    <div class="event-content">
      <h3>Bazar beneficente</h3>
      <p>Vende de itens usados e novos, entre na loja e aproveite</p>
      <a href="/bazar" class="botao_ac">Acesse</a>
    </div>
  </div>
  
  <div class="event">
    <img src="{{ url_for('static', filename='svg/Chart 7.svg') }}" alt="Free Beach Party">
    <div class="event-content">
    <h3>Free Beach Party</h3>
    <p>DJ, Banda, Show, Prêmios, Aula de Beach e muito mais</p>
    <a href="/eventos" class="botao_ac">Acesse</a>
    </div>
  </div>

  <div class="event">
    <img src="{{ url_for('static', filename='svg/Chart 8.svg') }}" alt="Bingo Solidario">
    <div class="event-content">
    <h3>Bingo Solidario</h3>
    <p>Chá e Bingo beneficente com diversos prêmios</p>
    <a href="/eventos" class="botao_ac">Acesse</a>
  </div>
  </div>
</section>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Redes Sociais</h4>
      <p>maessolidarias</p>
      <p>maessolidarias</p>
    </div>
    <div class="footer-section">
      <h4>Endereço</h4>
      <p>rua blabladás, 1251</p>
      <p>São Paulo, SP</p>
    </div>
    <div class="footer-section">
      <h4>Contato</h4>
      <p>55+119239503</p>
      <p>maessolidarios@gmail.com</p>
    </div>
    <img src="{{ url_for('static', filename='svg/Chart 9.svg') }}" alt="linha decorativa" class="footer-line-image">
  </div>
</footer>

</body>
</html>
